keeb.dev {
    root * /usr/share/nginx/html
    file_server
    handle /static/* {
        root * /usr/share/nginx
        file_server
    }
    handle /slate/* {
        root * /usr/share/nginx
        file_server
    }
    handle /bio/* {
        root * /usr/share/nginx
        file_server
    }
    handle /op/* {
        reverse_proxy 100.92.243.19:6969
    }
}

counter.keeb.dev {
    reverse_proxy keeb.dev:8000
}

start.keeb.dev {
    root * /usr/share/nginx/start
    file_server
}

flix.keeb.dev {
    reverse_proxy 100.92.243.19:8096
}

si.keeb.dev {
    reverse_proxy 100.86.60.111:8080
}

tilt.keeb.dev {
    reverse_proxy 100.86.60.111:10350
}

whiskers.keeb.dev {
    reverse_proxy 100.86.60.111:3000
}

localstack.keeb.dev {
    reverse_proxy 100.92.243.19:4566
}

vault.keeb.dev {
    reverse_proxy 100.92.243.19:8200
}

jaeger.keeb.dev {
    reverse_proxy 100.86.60.111:3000
}