{
    log default {
        format json
        level INFO
    }
}

(blocked_ips) {
    @blocked remote_ip 185.177.72.49
    abort @blocked
}

keeb.dev {
    import blocked_ips
    log
    root * /srv/keeb.dev/site
    file_server
    handle /static/* {
        root * /srv/keeb.dev
        file_server
    }
    handle /slate/* {
        root * /srv/keeb.dev
        file_server
    }
    handle /bio/* {
        root * /srv/keeb.dev
        file_server
    }
    handle_errors {
        @404 expression {err.status_code} == 404
        redir @404 / temporary
    }
}

counter.keeb.dev {
    import blocked_ips
    log
    rewrite * /src/counter.php
    reverse_proxy counter:80
}

swamp.keeb.dev {
    import blocked_ips
    log
    reverse_proxy 100.120.74.63:1337
}

gameswiththebois.com {
    import blocked_ips
    log
    root * /srv/gameswiththebois.com/site
    file_server
}

www.gameswiththebois.com {
    import blocked_ips
    log
    redir https://gameswiththebois.com{uri} permanent
}
